themes {
  catppuccin-americano {
    bg "#1e1e1e" 
    fg "#cdd6f4"
    red "#f38ba8"
    green "#a6e3a1"
    blue "#89b4fa"
    yellow "#f9e2af"
    magenta "#f5c2e7" 
    orange "#fab387" 
    cyan "#89dceb" 
    black "#1e1e1e" 
    white "#cdd6f4"
  }
}
