themes {
	colibri {
		bg "#3B0FBF"
		fg "#A4A0E8"
		red "#f47868"
		green "#DBBFEF"
		blue "#a4a0e8"
		yellow "#efba5d"
		magenta "#dbbfef"
		orange "#f47868"
		cyan "#6acdca"
		black "#281733"
		white "#ebeafa"
	}
}
