themes {
	dracula_pro {
		bg "#000000"
		fg "#000000"
		red "#FF9580"
		green "#8AFF80"
		blue "#268bd2"
		yellow "#FFFF80"
		magenta "#FF80BF"
		orange "#FFCA80"
		cyan "#80FFEA"
		black "#073642"
		white "#eee8d5"
	}
}
